<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<system.serviceModel>
		<services>
			<service name="Services.MeteoServices">
				<endpoint address="net.tcp://localhost:12356/MeteoServices" binding="netTcpBinding" contract="ServicesContracts.IMeteoServices" />
			</service>
		</services>
	</system.serviceModel>
</configuration>